p {
  margin: 0;
}

h2 {
  margin: 0;
}

.category-container {
  color: black;
}

.category-container h1 {
  font-size: 33px;
  font-weight: 500;
  text-transform: uppercase;
}

.category-container h1::before {
  background-color: #c50000;
  border-radius: 0.25rem;
  content: '';
  display: block;
  height: 0.25rem;
  width: 42px;
  margin-bottom: 1.25rem;
}

.category-container h2 {
  display: inline-block;
}

.category-info {
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.category-info:hover {
  background-size: 0 3px, 100% 3px;

  cursor: pointer;
}

.category-preview {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 25px;
}

.general-img {
  width: 55px;
  height: 50px;
  object-fit: cover;
}
