
.arrowTriggered{
  transform: rotate(180deg);
}

.arrowTrigger{
  transform: rotate(0deg);
}


.rowHeaderStyle{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.rowHeaderStyle:hover{
  box-shadow: 0 1px 6px rgba(0,0,0,0.2);
}

.profilePic{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: white;
  overflow: visible;
  object-fit: cover;
}


.userRow{
  display:flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
}

.thumbDownIcon{
  transition: all 0.25s ease;
  cursor: pointer;
}
.thumbDownIconFilled{
  color: red;
  cursor: pointer;
}

.thumbDownIcon:hover{
  color: red;
  transition: all 0.25s ease;
}

.thumbUpIcon{
  transition: all 0.25s ease;
  cursor: pointer;
}
.thumbUpIconFilled{
  color: green;
  cursor: pointer;
}

.thumbUpIcon:hover{
  color: green;
  transition: all 0.25s ease;
}