.arrowTriggered {
  transform: rotate(180deg);
}

.arrowTrigger {
  transform: rotate(0deg);
}

.rowHeaderStyle {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.rowHeaderStyle:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.profilePic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: white;
  overflow: visible;
  object-fit: cover;
}

.userRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
  cursor: pointer;
}

.thumbDownIcon {
  transition: all 0.25s ease;
  cursor: pointer;
}
.thumbDownIconFilled {
  color: red;
  cursor: pointer;
}

.thumbDownIcon:hover {
  color: red;
  transition: all 0.25s ease;
}

.thumbUpIcon {
  transition: all 0.25s ease;
  cursor: pointer;
}
.thumbUpIconFilled {
  color: green;
  cursor: pointer;
}

.thumbUpIcon:hover {
  color: green;
  transition: all 0.25s ease;
}

.topicRowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.replyIcon {
  transition: all 0.25s ease;
  cursor: pointer;
}

.replyIcon:hover {
  color: blue;
  transition: all 0.25s ease;
}

.deleteIcon {
  transition: all 0.25s ease;
  cursor: pointer;
}

.deleteIcon:hover {
  color: red;
  transition: all 0.25s ease;
}

.editIcon {
  transition: all 0.25s ease;
  cursor: pointer;
}

.editIcon:hover {
  color: orange;
  transition: all 0.25s ease;
}

.iconsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0.5em;
}

.swal-button--cancel {
  color: #efefef;
  background-color: #e64942 !important;
}

.swal-button--cancel:hover {
  color: #efefef;
  background-color: #e64942 !important;
}

.swal-icon img {
  margin-top: 10px;
  object-fit: cover;

  width: auto;
  max-height: 400px;
  background-color: white;
}
