.welcome-section {
  display: flex;
  justify-content: space-between;
  color: white;

  position: relative;
  background: #17f084;
  background-image: url(https://c-3d.niceshops.com/upload/image/product/large/default/surefire-skirmish-gaming-headset-1-pc-401553-en.jpg);

  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
}

.inner-welcome-section {
  position: relative;

  color: #fff;

  padding: 40px;
  padding-top: 75px;
  padding-bottom: 75px;

  background-size: cover;
  background-position: center;
}

.telerik-section {
  position: relative;

  color: #fff;

  padding: 40px;
  padding-top: 0;
  padding-bottom: 75px;
}

.telerik-name-logo {
  display: grid;
  grid-template-rows: 50px 50px;

  margin-top: 5px;

  text-align: center;
}

.telerik-logo {
  width: 150px;
}

.media {
  width: 100%;
}

.join-button {
  color: #fff;
  background: #dc191b;
  padding: 0 15px;
  box-shadow: 0 4px 8px 0 rgb(107 119 128 / 12%),
    2px 0 8px rgb(107 119 128 / 8%);
  border: none;
  border-radius: 15px;
  border-color: #b71517;

  text-align: center;
  outline: none;
  height: 34px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-appearance: none;
  will-change: box-shadow;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
